
body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.3;
}
h2{

  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
  font-family: sans-serif;
}

/*navigation bar*/

.navbar{
  padding: 0 0 4rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size:2.5rem;
 font-weight: bold;
  margin-left: 3.5rem;;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
.Download-button{
  margin: 5% 3% 5% 0;
}
.title-img{
  max-width: 100%;

}

/*features*/
#features
{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}

.features-box{
text-align: center;
padding: 5%;
}


.icon{
  color: #ef8172;
  padding-bottom: 1rem;
}

.icon:hover{
  color:#ff4c68;
}
/*testimonial*/
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/*pricing*/
#pricing{
  padding: 100px;
text-align: center;

}

.pricing-column{
  padding: 3% 2%;
}
@media (max-width: 1020px) {

#title{
  text-align: center;
}

  .title-img{
    position: static;
    transform: rotate(0);
    max-width: 60%;
}
}

#cta{
background-color: #ff4c68;
color: #fff;
padding: 7% 15%;
text-align: center;
}
.cta-heading{
font-family: "Montserrat-Black";
}
.cta-text{
  font-size: 3rem;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}

button{
  color: #ff4c68;
}