
html {
  background-color: #3ccfdf;
}
body{
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 0;
  background-color: #b9ab11;
  color: #fff;
  padding: 8px;
}

h2 {
  font-size: 30px;
  color: #fff;
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
  margin-top: 50px;
}

.player {
  margin: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #fff;
}

.score {
  padding: 1px;
  font-size: medium;
  font-weight: bold;
  background-color: #002171;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #0d47a1;
}

.round-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  cursor: pointer;
  background-color: #002171;
  color: #fff;
  margin-top: 50px;
}

.round-btn:hover {
  background-color: #5472d3;
}