.check{
    text-align: center;
}
body{
    background-color: rgba(212, 140, 195, 0.256);
}

.btn{
    height: 150px;
    width: 180px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    margin-left: 680px;
    margin-top: 70px;
    font-weight: 700;
    font-size: medium;
}
.btn:hover{
    background-color: #d6a4a4;
    color: #000;
    font-weight: 700;
    font-size: medium;
}